.Inicio {
  border-radius: 20px;
  width: 200px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.registrados {
  border-bottom: #555 1px solid;
}
form {
  width: 500px;
  margin: 0px auto;
}

.service-info {
  display: flex;
  align-items: center;
  margin: 0px;
}

.service-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0px;
  border-radius: 5px;
}
.service-description {
  margin: 0px;
  font-weight: bold;
}

.service-price {
  font-size: 14px;
  color: #555;
  margin: 0px;
}
/* En tu archivo de estilos (styles/Form.css) */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-fade-in {
  animation: fade-in 0.5s ease-in-out;
}
